<form action="/action_page.php">
  <fieldset>
    <legend>Edit Information</legend>
    First name:<br>  <input type="text" name="firstname" value=" ">
    <br>
    Last name:<br> <input type="text" name="lastname" value=" ">
    <br>
    Select your Region:
    <select>
    <option value="Region">Region</option>
    <option value="Toronto">City of Toronto</option>
    <option value="Durham">Durham</option>
    <option value="York">York</option>
    <option value="peel">Peel</option>
    <option value="halton">Halton</option>
  </select>
    <br>
    ZipCode:<br> <input type="text" name="zipcode" value=" ">
    <br>
    What types if Volunteer Positions are your interested in
    <select>
    <option value="long-term"></option>
    <option value="opp">Long-Term (More than 3 months)</option>
    <option value="opp">Short Term (3 months or less)</option>
    <option value="opp">One day or less</option>
    <option value="opp">Event Committee</option>
    <option value="opp">Board/Governance</option>
    <option value="opp">High School Community Service</option>
  </select>

  <br>
  Summary (max 250 characters)
  <br>
  <textarea rows="10" cols="50">
  </textarea>


    <br><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>
