<<<<<<< HEAD

<%= link_to 'Edit Profile', edit_user_path %>
=======
<h1><%= current_user.first_name %>'s Profile |
<%= link_to 'Edit Profile', edit_user_path %></h1>
>>>>>>> a53b2304f81cbb6a7c3c1d1983592adbf53c50d4
