<style>
/*.event-list {
  width: 300px;
  height: 398px;
  margin-bottom: -37%;
  margin-top: 2%;
  margin-left: 19%;
}*/
  
  .title {
    font-size: 14px;
  }

  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
    font-size: 14px;
  }

  .pop-org {
    float: right;
    background-color: white;
    width: 400px;
    height: 400px;
  }

  .col-sm-offset-2 {
    margin-left: 12.666667%;
  }

</style>
<body>

  <section>

    <main>
      <h2 class=intro-header>
        <p class="intro-writeup">Connecting You with Great Organizations</p>
        <a href="#about-us">
          <button class="bounceInLeft">Learn More</button></a>
          <div class="logo-circle">
            <p class="logo-letter">V</p>
          </div>
        </h2>

        <h3 class="i">
          <div class="i-circle">
            <p class="i-letter">I</p>
          </div>
        </h3>

        <h3 class="b">
          <div class="b-circle">
            <p class="b-letter">B</p>
    <p class="vibe-writeup">At VIBE we understand that commitment of time and energy is best served when one believes in what they are doing.  We'll help you find organizations that you can rally behind.</p>
   <button type="find-organization-button"><%= link_to "Find Organizations", organizations_url %></button>
 </div>
</h3>

<h3 class="e">
  <div class="e-circle">
    <p class="e-letter">E</p>
  </div>
</h3>
<img src="/assets/peoplevibe.jpg">
</main>

</section>
<!--
<div class="about-us" id="about-us">
  <p class="vertical-text">Who are we?</p>
  <p class="about-us-writeup">Whether you are looking to add experience to your resume, attain community service hours, or to simply contribute to your community, VIBE has you covered.  We'll help you connect with organizations that are taylored for you!</p>
</div> -->




<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="background-color:#0d2c40; color:white;"><!-- <p style="transform: rotate(270deg); font-weight: bold;
    font-size: 25px;"> --><h2>Who are we?</h2>
      <p class="">Whether you are looking to add experience to your resume, attain community service hours, or to simply contribute to your community, VIBE has you covered.  We'll help you connect with organizations that are taylored for you!</p></div>







</body>
