<body>

 <section>

   <main>
     <h2 class=intro-header>
       <p class="intro-writeup">Connecting You with Great Organizations</p>
       <a href="#about-us">
         <button type="find-organization-button"><%= link_to "Organizations", organizations_url %></button>

         <div class="logo-circle">
           <p class="logo-letter">V</p>
         </div>
       </h2>

       <h3 class="i">
         <div class="i-circle">
           <p class="i-letter">I</p>
         </div>
       </h3>

       <h3 class="b">
         <div class="b-circle">
           <p class="b-letter">B</p>
   <p class="vibe-writeup">Connecting organizations with volunteers to help shape our community and build experience.</p>
</div>
</h3>

<h3 class="e">
 <div class="e-circle">
   <p class="e-letter">E</p>
 </div>
</h3>
<img src="/assets/peoplevibe.jpg" class="homepage-background">
</main>
</section>
</body>
