<h1> Quick Search Through Our Volunteer Opportunities  </h1>

<h2> Next Steps </h2>


<%= form_for @user, html: { multipart: true } do |f| %>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <div class="dropdown"></div>
    <div class="field">Categories</div>
  </div>

  <div class="field">
    <div class="dropdown"></div>
    <div class="field">Companies</div>
  </div>

  <div class="field">
    <div class="dropdown"></div>
    <div class="field">Events Available</div>
  </div>
