body {
  margin-top: 0px;
}

.container1 {
  position: relative;
  right: 145px;

}

#organizationshowimage {
  margin-left: 8%;
}

.org-map-org-show {
  margin-right: 25px;
}

.org-name {
  text-align: center;
  font-weight: bold;
}

.organization_container {
  text-align: center;
}
