<section class="Organizations">
  <% @organizations.each do |organization| %>

<div class="organization_name">

    <h1><%= link_to organization.name, organization_path(organization) %><h1>

    <h5><%= organization.description %></h5>

  <br/>
    <% end %>
