<style>
i {
font-size: 13em;
text-align: center;
color: #f15b31;
}

.icon {
  text-align: center;
}
</style>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
      <div class="icon col-lg-4">
      <!-- <img class="img-circle" src="http://www.vertiba.com/wp-content/uploads/click-icon.png" alt="Generic placeholder image" width="140" height="140"> -->
        <i class="fa fa-hand-o-up"></i>
      <h2>Find an Organization</h2>
      <p>Browse through our organizations to find one that suites you.</p>
    </div><!-- /.col-lg-4 -->
    <div class="icon col-lg-4">
      <!-- <img class="img-circle" src="https://www.cfmco.org/wp-content/uploads/2015/07/icon-apply.png" alt="Generic placeholder image" width="140" height="140"> -->
      <i class="fa fa-pencil-square"></i>
      <h2>Apply for Organization</h2>
      <p>Apply for your Organization</p>
    </div><!-- /.col-lg-4 -->
    <div class="icon col-lg-4">
      <!-- <img class="img-circle" src="http://files.softicons.com/download/system-icons/windows-8-metro-invert-icons-by-dakirby309/ico/Other/Tasks.ico" alt="Generic placeholder image" width="140" height="140"> -->
            <i class="fa fa-check-circle"></i>
      <h2>Apply for Event</h2>
      <p>Apply for Organization Event</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->





<div class="org">
  <p class="org-title">Organizations</p>
</div>

<img src="/assets/peoplevibe.jpg" class="img-org-indexpage">







      <hr class="featurette-divider">

      <% @organizations.each do |organization| %>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= link_to organization.name, organization_path(organization) %><span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead"><%= organization.description %></p>
        </div>
        <div class="col-md-5">
          <%= image_tag organization.image_url, :class => "featurette-image img-responsive center-block" %>
        </div>
      </div>
      <% end %>
