<section class="Organizations">

   <h1>All Organizations</h1>
  <% @organizations.each do |organization| %>
  <div>
    <%= link_to organization.name, organization_path(organization) %>
    <h5><%= organization.description %></h5>
</div>

<% end %>
</section>
