<div class="org">
  <p class="org-title">Organizations</p>
</div>

<img src="/assets/peoplevibe.jpg" class="img-org-indexpage">

<section class="organizations">
  <% @organizations.each do |organization| %>

<div class="organization_name">

    <h1><%= link_to organization.name, organization_path(organization) %><h1>

    <h5><%= organization.description %></h5>

</div>
  <br/>
    <% end %>
