  <% @organizations.each do |organization| %>

  <div class="organization_name">

<h3>Name</h3>
    <p><%= organization.name %></p>

<h3>Description</h3>
    <p><%= organization.description %></p>

<h3>Location</h3>
    <p><%= organization.location %></p>
</div>
  <% end %>
