
<div class="org">
    <p class="org-title">Organizations</p>
</div>

<section class="Organizations">
  <% @organizations.each do |organization| %>

  <div class="organization_name">

      <%= link_to organization.name, organization_path(organization) %>

      <h5 class="org-type">Type</h5>
      <p class="org-description"><%= organization.description %></p>

    <br/>
      <% end %>
