<h1>Organization</h1>

<div class="organization_container">
<h2>Name:</h2>
  <%= @organization.name %>
<h2>Description:</h2>
  <%= @organization.description %>
<h2>Location:</h2>
  <%= @organization.location %>
<h2>Volunteer Position:</h2>
  <%= @organization.volunteer_position%>
</div>
